body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px; 
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#login, #createVisit, #createLogout {
    height: 40px;
    width: 300px;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing: border-box;
    padding: 5px;
    background: rgb(50, 147, 177);
    color:#FFF;
    font-size: 22px;
}

#createLogout {
    float: right;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    /* background-color: rgb(0,0,0); */
    background-color: rgba(0,0,0,0.4); 
}
   
.modal-content {
    position: relative;
    margin: 0 auto;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    border: 5px solid rgb(50, 147, 177);
    max-width: 80%; 
}
    
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
    
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-control{
    margin-bottom: 5px;
}

.form-props {
    height: 40px;
    width: 100%;
    border-radius: 3px;
    border:rgba(0,0,0,.3) 2px solid;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom:20px;  
}

.form-control {
    border-radius: 3px;
    height: 35px;
    width: 50%;
    border-radius: 3px;
    border:rgba(0,0,0,.3) 2px solid;
}

.form-props {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-props[name='submit'] {
    height:50px;
    width:30%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing:border-box;
    padding:10px;
    background:#90c843;
    color:#FFF;
    font-family: 'Open Sans', sans-serif;  
    font-weight:400;
    font-size: 20px;
}
        
.form-props[name='submit']:hover{
    background:#80b438;
}

#filter{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

#filter .form-control {
    margin: 5px;
    border: 2px solid rgb(50, 147, 177);
}

#filter select {
    width: 20%;
    margin: 5px;
    border: 2px solid rgb(50, 147, 177);
    background-color: rgb(50, 147, 177);
    color: white;
}

#visits {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    width: 30%;
    background-color: #fefefe;
    margin: 1em;
    border: 2px solid rgb(50, 147, 177);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card .title {
    font-size: 1.2em;
    font-weight: bold; 
    margin: 1em 0; 
}

.card .description {
    font-size: 1em;
    margin: 1em 0; 
}

.card-body p{
    margin: 0 0 0.8em; 
}

.card .description {
    height: 7vh;
}

.card-header, .card-footer {
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(170, 170, 170, 0.103); 
    padding: 5px 0;
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-header {    
    display: flex;
    justify-content: space-between; 
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase; 
    padding: 5px 15px;
}

.card-header p {
    margin: 10px 0;
}

.card-body {
    height: 220px;
    padding: 0 5px;
}

#showMore, .card select {
    height: 40px;
    width: 40%;
    border-radius:3px;
    border:rgba(0,0,0,.3) 0px solid;
    box-sizing: border-box;
    background: rgb(50, 147, 177);
    color:#FFF;
    font-size: 14px;
    padding: 0 10px;
    margin: 10px;
}

.card select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align-last:center;
}

.card-custom p{
    margin-bottom: 10px;
}

.card-custom.hide{
    display: none;
}

.passwordHider {
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
    margin-top: 145px;
    margin-left: 5px;
	position: absolute;
	top: 0px;
	right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
    border: none; 
    outline: none;

}
.passwordHider.view {
    background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}

.modal p {
    margin-bottom: 20px;
}
